/* For TailwindCSS & DaisyUI IntelliSense only */
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-bg-primary: rgba(220, 252, 231, 1);
  --color-neutral-dark: #1f2937;
  --color-main-primary: rgba(21, 128, 61, 1);
  --color-main-secondary: rgba(250, 204, 21, 1);
  --color-neutral-dark: rgba(31, 41, 55, 1);
  --background-image-hero-section: linear-gradient(
    90deg,
    rgba(1, 50, 35, 1),
    rgba(0, 103, 71, 1) 50%,
    rgba(1, 50, 35, 1) 100%
  );
}
@layer components {
  .primary-btn {
    @apply btn bg-mai-secondary hover:bg-mai-secondary/85 rounded-full text-sm sm:text-base font-medium text-main-primary border-0 px-5 py-3 cursor-pointer;
  }
}
